/* You can add global styles to this file, and also import other style files */
/*{
    display: inline !important;
    width: 10px !important;
    color: pink !important;
    background-color: aqua !important;
}*/