.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  
  
  .cardbody-color{
    background: linear-gradient(-90deg, blue, green);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  a{
    text-decoration: none;
  }

  
  .cardbody-color:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
    
  .profile-image-pic:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

